body {
    color: lavender;
    background-color: maroon;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 1000px;
}

a:link {
    color: lightgreen;
}

a:visited {
    color: gold;
}

a:hover {
    color: cyan;
}

a:active {
    color: white;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: lavender;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: lavender;
    font-size: 24px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div.barrel {
    background-image: url('../images/thbom.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 75% 25%;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

div.info {
    color: black;
    font-size: 14px;
    font-style: italic;
}
