---
title: Hello GitLab
---
<div class="barrel">
<h2>Welcome</h2>

<p>What'll ye have? And don't even think of causing any trouble!</p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
</div>